# oauth credentials
# get at https://osu.ppy.sh/home/account/edit#new-oauth-application
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# public url (optional)
# useful if you are using a reverse proxy
BASE_URL=http://localhost:3000

# custom db path (optional)
DATABASE_PATH=./data/app.db

# osu user id of manager
MANAGER_USER_ID=
