# oauth credentials
# get at https://osu.ppy.sh/home/account/edit#new-oauth-application
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# override callback url (optional)
# the one set in osu oauth app must be the same one as this
OSU_REDIRECT_URI=http://localhost:3000/auth/callback

# custom db path (optional)
DATABASE_PATH=./data/app.db

# osu user id of manager
MANAGER_USER_ID=